<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta author="Carolina Lechuga">
    <meta description="Página de prueba">
    <meta keywords="html, aplicación web">
    <title>Mi página web</title>
    <link rel="shortcut icon" href="./static/images/favicon (2).ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/style1.css" type="text/css">
    <style></style>
    <script></script>


</head>
    <body>
        <div class="agrupar">
            <div class="encabezado">
                <header>
                  <img src="./static/images/banner_viaje.png">
                </header>
             </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Productos </a></li>
                        <li><a href="/rejilla">Información</a></li>
                        <li><a href="/formulario">Formulario</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contenedor_titulo">
                <br><section></br>
                    <h1>Lugares turísticos de Hidalgo que tienes que visitar</h1>
                        <article>
                            <p>Hidalgo es famoso en México por sus aguas termales y barbacoas, pero el estado que honra
                                con su nombre al Padre de la Patria tiene muchos otros atractivos que ofrecer. Permítenos
                                compartir contigo nuestra selección con los mejores lugares turísticos de Hidalgo.</p>
                        </article>
            </div>
            <div class="contenedor">
                <section>
                    <h1>Grutas de Tolantongo</h1>
                        <article>
                            <p>Son un conjunto de cuevas situadas en el municipio hidalguense de Cardonal,
                                a 97 km al noroeste de Pachuca de Soto. La palabra “Tolantongo” parece provenir
                                de la voz nahua “Tonaltonco”, que significa “lugar donde se siente calorcito”.</p>
                            <img src="./static/images/grutas de tolantongo.jpg">
                            <p><b>Atractivos</b><br></br> Está formado por una gruta principal por la que circula
                                un río de aguas termales conformando albercas naturales y una gruta menor llamada El Túnel,
                                de unos 15 metros de longitud y situada sobre la primera.
                                <br>La gruta grande es una cueva kárstica con curiosas formaciones rocosas (estalactitas y estalagmitas)
                                y en su interior la temperatura sube notoriamente. El Túnel es una estrecha gruta y su ambiente es parecido
                                al de un baño de vapor.
                                <br>El río que se abre paso por el cañón y la gruta mayor también se llama Tolantongo y
                                sus aguas cálidas están coloreadas por los minerales arrastrados por la corriente.
                                <br>En las grutas hay un complejo de hoteles y la gente disfruta de las piscinas,
                                chapoteaderos y cascadas formadas por el agua caliente. En los alrededores hay especies
                                de flora como magueyes, mezquites y yucas.<br></br>
                                <b>Actividades</b><br></br> Es un complejo sistemas de aguas calientes y frías que
                                se mezclan produciendo un agua tibia que es deliciosa para bañarse. Otros entretenimientos
                                disponibles son rapel, senderismo y espeleología.</br></br></br></p>
                        </article>
                    <section>
                    <br><br>
                        <h1>Zona Arqueológica de Tula</h1>
                        <article>
                            <p>A 4 km al norte de la ciudad hidalguense de Tula de Allende se ubica este yacimiento arqueológico
                                que es famoso por sus atlantes, unas enormes figuras guerreras hechas con grandes bloques de
                                basalto ensamblados y tallados por notables artistas prehispánicos.
                                <br>Las monumentales esculturas de 4.5 metros de altura se hallan en la parte superior del
                                Templo o Pirámide de Tlahuizcalpantecuhtli, advocación de Quetzalcóatl como Estrella de la Mañana.
                                Fue construido entre los siglos IX y XII.
                                <br>Los atlantes sostenían el techo de una estructura situada en la cumbre de la pirámide que se
                                derrumbó y representan a Quetzalcóatl como guerrero tolteca, ataviado con un pectoral de mariposa,
                                un propulsor de dardos (átlatl) y su provisión de flechas, cuchillo de pedernal y un arma curva
                                característica de los toltecas.
                                <br>Otra importante edificación del yacimiento es el Palacio Quemado, así llamado por el incendio
                                provocado por los mexicas que destruyó la ciudad prehispánica. Este inmueble incorporó innovaciones
                                arquitectónicas en la región y tiene una gran parecido con el Palacio de las Columnas de Chichén Itzá.
                                <br>El Palacio Quemado no era un edificio residencial y las banquetas de piedra, similares a tronos,
                                que se han conservado indican que era lugar de reuniones de personajes del alto gobierno.</br></br></br></br>
                            </p>
                            <img src="./static/images/atlantes.jpg">
                        </article>
                    </section>
                    <section>
                    <br><br>
                        <h1>Tecozautla</h1>
                        <article>
                            <p>Toda guía turística de Hidalgo debe incluir e este Pueblo Mágico entre sus principales atracciones.
                                Está a 1716 m.s.n.m. y su fresco clima ofrece una temperatura promedio de 19 °C, que sube a 20-22 °C
                                entre junio y septiembre y baja a 15-17 °C en invierno.<br>
                                Se encuentra a 99 km de Santiago de Querétaro y a 148 km de Pachuca y cuenta con un geiser
                                situado en la zona geotérmica Uxdejhé que emite un chorro de agua a 95 °C.</br></p>
                            <img src="./static/images/tecozautla.jpg">
                            <p><b>Atractivos</b><br></br>El agua es represada en albercas en el balneario termal Spa El Geiser.
                                El lugar cuenta con hotel, cabañas, camping, restaurante, palapas, cascadas y puentes colgantes.
                                <br><br>Otra atracción es el yacimiento arqueológico de Pahñu, situado al noroeste del Pueblo Mágico.
                                El sitio formó parte de las rutas comerciales de los teotihuacanos y las principales edificaciones
                                son la Pirámide del Sol y la de Tlaloc. El ambiente es semidesértico, por lo que es recomendable ir
                                preparado para el sol y el calor.</br>
                                <br>En la localidad se encuentra el Torreón de Tecozautla, una torre de estilo neoclásico erigida
                                durante el Porfiriato. El 25 de julio se realiza la Feria de la Fruta, un evento en honor al
                                póstol Santiago, durante el cual se muestra lo mejor de los frutos cosechados.</br></br></p>
                        </article>
                    </section>
            </div>
            <div class="contenedor_titulo">
                <section>
                        <br><br><h4>¿Te gusto esta información?</h4></br></br>
                </section>
            </div>
            <div class="pie">
                <footer>
                    <h1>Universidad de Tula Tepeji</h1>
                </footer>
            </div>
        </div>
    </body>
</html>
